body {
  background-image: url(./images/zurich.JPG);
  background-size: 40%;
  background-repeat: no-repeat;
  background-color: #f3f0ef;
}

.nav1 {
  position: fixed;
  background-color: transparent;
}

.onPage {
  color: #F68338;
  text-transform: uppercase;
  font-size: 15px;
}

.nav2 {
  color: #bebaba;
  text-transform: uppercase;
  font-size: 15px;
}

.header2 {
  color: #F68338;
  font-size: 15px;
  text-transform: uppercase;
}

h5 {
  color: #F68338;
  font-size: 15px;
  text-transform: uppercase;
}

.cardStart {
  margin-top: 100px;
}

.image {
  position: relative;
  width: 350px;
  height: 200px;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}

.pImages {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #F68338;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.overlay>* {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.overlay:hover {
  opacity: 0.8;
}

.overlay:hover>* {
  transform: translate(0);
}

@media screen and (max-width: 576px) {
  .nav2 {
    text-align: center;
    margin: 0;
  }
  .card {
    margin-left: 40px;
    margin-bottom: 10px;
  }
}

.card {
  margin: 6px;
}

.styling {
  background-color: #ffffff;
  box-shadow: 11px 7px 16px #eeeeee;
  border: 0;
  text-align: left;
}

.ctag {
  margin-top: 10px;
}

.p2 {
  margin-top: 20px;
  margin-left: 50px;
  margin-bottom: 20px;
  height: auto;
  width: 100px;
}

.p1 {
  margin-top: 60px;
  margin-bottom: 20px;
  margin-left: 30px;
  height: auto;
  width: 150px;
}

.p3 {
  margin-top: 60px;
  margin-bottom: 40px;
  margin-left: 30px;
  height: auto;
  width: 150px;
}

.btn {
  background-color: #F68338;
  color: #ffffff;
}

.folio {
  margin-top: 10px;
}

/* nav ul li a {
  color: #f4eded;
  font-size: 22px;
  margin: auto 10px;
} */

nav ul li a:hover {
  color: #F68338;
  text-decoration: underline;
}

.about {
  font-size: 15px;
}

.container {
  margin-top: 100px;
}

.image1 {
  max-height: 300px;
  width: auto;
  object-fit: contain;
  padding-top: 20px;
}

.submit {
  width: 116px;
  float: right;
}

.mainImg {
  width: auto;
  height: 50px;
}

label {
  float: left;
  color: #F68338;
  text-transform: uppercase;
  font-size: 15px;
}

.smIcons {
  height: 20px;
  width: 20px
}