.header1 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 900;
  text-align: left;
}
.header2 {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 900;
}
.main1 {
  padding-top: 50px;
}
.styling {
  box-shadow: 11px 7px 16px #f9f9f9;
  border: 0;
  text-align: center;
}
nav ul li a {
  color: #f4eded;
  font-size: 22px;
  margin: auto 10px;
}
nav ul li a:hover {
  color: white;
}
.nav1 {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.about {
  font size: 16px;
  font-weight: 300;
}
  .container {
    margin-top: 80px;
  }
  .contact {
    margin-top: 150px;
  }
  .image1 {
    max-height: 400px;
    width: auto;
    object-fit: contain;
    padding-top: 20px;
  }
  .submit {
    width: 116px;
    float: right;
  }