body {
  background-image: url(./images/zurich.JPG);
  background-size: 40%;
  background-repeat: no-repeat;
  background-color: #f3f0ef;
}


/* .sideLeft {
  position: fixed;
  float: left;
}

.cardStart {
  overflow: scroll;
  float: right;
} */

.nav1 {
  position: absolute;
  background-color: transparent;
}

.nav2 {
  color: #F05742;
  text-transform: uppercase;
  font-size: 15px;
}

.header2 {
  color: #F05742;
  font-size: 15px;
  text-transform: uppercase;
}

h5 {
  color: #F05742;
  font-size: 15px;
  text-transform: uppercase;
}

.cardStart {
  margin-top: 100px;
}

@media screen and (max-width: 576px) {
  .nav2 {
    text-align: center;
    margin: 0;
  }
  .card {
    margin-left: 40px;
    margin-bottom: 10px;
  }
}

.card {
  margin: 6px;
}

.styling {
  background-color: #ffffff;
  box-shadow: 11px 7px 16px #eeeeee;
  border: 0;
  text-align: left;
}
.ctag {
  margin-top: 10px;
}

.p2 {
  margin-top: 20px;
  margin-left: 50px;
  margin-bottom: 20px;
  height: auto;
  width: 100px;
}

.p1 {
  margin-top: 60px;
  margin-bottom: 20px;
  margin-left: 30px;
  height: auto;
  width: 150px;
}

.p3 {
  margin-top: 60px;
  margin-bottom: 40px;
  margin-left: 30px;
  height: auto;
  width: 150px;
}

.btn {
  background-color: #F05742;
  color: #ffffff;
}

.folio {
  margin-top: 10px;
}

/* nav ul li a {
  color: #f4eded;
  font-size: 22px;
  margin: auto 10px;
} */

nav ul li a:hover {
  color: #F05742;
  text-decoration: underline;
}

.about {
  font-size: 15px;
}

.container {
  margin-top: 150px;
}

.image1 {
  max-height: 300px;
  width: auto;
  object-fit: contain;
  padding-top: 20px;
}

.submit {
  width: 116px;
  float: right;
}

.mainImg {
  width: auto;
  height: 50px;
}

label {
  float: left;
  color: #F05742;
  text-transform: uppercase;
  font-size: 15px;
}

.smIcons {
  height: 20px;
  width: 20px
}
