
.nav2 {
  color: #293dbe;
  text-transform: uppercase;
  font-size: 15px;
}

.header2 {
  color: #293dbe;
  font-size: 25px;
  text-transform: uppercase;
  
}

h5 {
  color: #293dbe;
  font-size: 15px;
  text-transform: uppercase;
  
}

@media screen and (max-width: 576px) {
  .nav2 {
    display: inline;
    margin: 0;
  }
  .card {
    margin-left: 40px;
    margin-bottom: 10px;
  }
}

.styling {
  box-shadow: 11px 7px 16px #eeeeee;
  border: 0;
  text-align: center;
}

nav ul li a {
  color: #f4eded;
  font-size: 22px;
  margin: auto 10px;
}

nav ul li a:hover {
  color: white;
}

.about {
  font-size: 16px;

}

.container {
  margin-top: 150px;
}

.image1 {
  max-height: 300px;
  width: auto;
  object-fit: contain;
  padding-top: 20px;
}

.submit {
  width: 116px;
  float: right;
}

.p1 {
  height: 12rem;
  width: 12rem;
  margin-left: 50px;
}

.mainImg {
  width: 150px;
  height: 50px;
}

.p2 {
  margin-top: 36px;
  margin-bottom: 36px;
  height: 120px;
  width: 275px;
}

.p3 {
  height: 200px;
  width: 200px;
  margin-left: 50px;
}